@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes scan {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(100vh);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .text-shadow {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    
    .letter-spacing-wider {
      letter-spacing: 0.05em;
    }
  }
